.logo-17 {
  position: absolute;
  left: 30%;
  right: 31.52%;
  top: 2%;
  bottom: 64.57%;
  height: 25%;
  width: 25%;
}

.block {
  margin-top: 50%;
  align-items: center;
  display: grid;
  
}

.insert {
  /*
  position: center;
  margin-left: 20%;
  margin-top: -2%;
  margin-bottom: 4%;
*/
  position: absolute;
  left: 10%;
  right: 0%;
  top: 30%;
  bottom: -2.51%;
}

.insert-02 {
 /* 
  position: center;
  margin-left: 20%;
  margin-top: -2%;
  margin-bottom: 4%;
  */

  position: absolute;
  left: 10%;
  right: 0%;
  top: 43%;
  bottom: -2.51%;
}

.input-17 {
  background: #FFF2F2;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700px;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #548B95;

  height: 15%;
  width: 77%;
  border-radius: 35px;

}

.group-01 {
  /*CRIAR CONTA*/
  position: absolute;
  background: #FFF2F2;
  border-radius: 35px;
  height: 50px;
  width: 350px;
  /*
  margin-top: 50%;
  padding-bottom: 10px;
  margin-left: 20%;
  */

  left: 10%;
  right: 0%;
  top: 66%;
  bottom: -2.51%;

  height: 10%;
  width: 70%;
  border-radius: 35px;

}

.group {
  /*ESQUECI SENHA*/
  position: absolute;
  background: #FFF2F2;
  border-radius: 35px;
  height: 50px;
  width: 350px;
  /*
  margin-top: 70%;
  margin-left: 20%;
  */

  left: 10%;
  right: 0%;
  top: 78%;
  bottom: -2.51%;
  
  height: 10%;
  width: 70%;
  border-radius: 35px;

}

.group-03 {
  /*ACESSE*/
  position: absolute;
  background: #8DD2CF8F;
  border-radius: 35px;
  height: 60px;
  width: 350px;
  /*
  margin-top: 34%;
  margin-bottom: 10px;
  margin-left: 20%;
  */

  left: 10%;
  right: 0%;
  top: 55%;
  bottom: -2.51%;

  height: 10%;
  width: 70%;
  border-radius: 35px;

}

.text-group-17 {
  position: absolute;
  top: 10%;
  left: 0%;
  right: 14%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #548B95;
}

.text-acess-17 {
  position: absolute;
  top: 10%;
  left: 35%;
  color: #FFFEFE;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 36px;
  top: -10%;
}