.logo {
    position: absolute;
    left: 30%;
    right: 37.88%;
    top: 2%;
    bottom: 86.58%;

    width: 25%;
    height: 25%;
}

.text-span {
    position: absolute;
    left: 0%;
    right: 12.17%;
    top: 30%;
    bottom: 79.2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #FFFEFE;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.pesquisa {
    position: absolute;
    left: 2.24%;
    right: 80.67%;
    top: 9.71%;
    bottom: 54.37%;
}


.wrapper-pesquisa {
    position: absolute;
    left: 6.5%;
    right: 0%;
    top: 40%;
    bottom: -31.67%;

    background: #FFFFFF;
    height: 60%;
    width: 80%;
    border-radius: 35px;
}

.pesquisa-faixa-etaria {
    position: absolute;
    left: 5.11%;
    right: 4.95%;
    top: 10%;
    bottom: 54.85%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;

    background: #74B3B5;
    border-radius: 100px;

    width: 92%;
    height: 20%;
}

.pesquisa-vacina {
    position: absolute;
    left: 5.11%;
    right: 4.95%;
    top: 32%;
    bottom: 54.85%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;

    background: #74B3B5;
    border-radius: 100px;

    width: 92%;
    height: 20%;
}

.pesquisa-data {
    position: absolute;
    left: 5.11%;
    right: 4.95%;
    top: 54%;
    bottom: 14.56%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;

    background: #74B3B5;
    border-radius: 100px;

    width: 90%;
    height: 20%;

    padding-right: 10px;
}

.pesquisa-button {
    position: absolute;
    left: 30%;
    right: 0%;
    top: 80%;
    bottom: -2.51%;

    background: #69a8bb;
    border-radius: 35px;

    height: 20%;
    width: 40%;
    
    border-radius: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
}

/*

.text-pesquisa-button {
    position: absolute;
    top: 15%;
    left: 26%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
}


.wrapper {
    position: absolute;
    left: 10%;
    right: 0%;
    top: 40%;
    bottom: 0%;
}
.wrapper-01 {
    position: absolute;
    width: 20%;
    height: 25%;
    left: 0px;
    top: 0px;

    background: #74B3B5;
    border-radius: 10px;

}

.wrapper-02 {
    position: absolute;
    width: 60%;
    height: 25%;
    left: 20%;
    top: 0.38px;

    background: #D9D9D9;
    border-radius: 10px;
}
*/
.text-s {
    position: absolute;
    left: 2.9%;
    right: 76.28%;
    top: 32.05%;
    bottom: 32.3%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}