.input-02 {
  background: #FFF2F2;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700px;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #548B95;

  height: 20%;
  width: 120%;
  border-radius: 30px;
}

.group-15 {
  position: absolute;
  left: 20%;
  top: 40%;
  bottom: -2%;
}

.group-16 {
  position: absolute;
  background: #8DD2CF8F;
  height: 10%;
  width: 62%;
  border-radius: 30px;

  left: 20%;
  top: 60%;
}

.text-group-02 {
  position: absolute;
  width: 336px;
  height: 47px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #548B95;
  top: 2%;
}

.text-acess-02 {
  position: absolute;
  text-align: center;
  color: #FFFEFE;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 36px;
  top: -15%;
  left: 20%;
}