body {
    height: 100%;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.selection-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2vw);
    grid-gap: 120px;
    margin-bottom: 100px;
}

.container {
    position: relative;
    z-index: 1;
    top: 250px;
    width: 80%;
    margin: 2rem auto;  
    transform: translateY(5px);
}

.text-selection {
    text-align: center;
    text-decoration: none;    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFF2F2;
}

.calendario-wrapper{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 30%;

    background: #8bc0c4;

    height: 100px;
    width: 100%;
}

.figure-calendario {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    height: 100px;
    width: 100px;
}



/*
.text-selection-01 {
    position: absolute;
    left: 0%;
    right: 90%;
    top: 70%;
    bottom: 28%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFF2F2;
}

.text-selection-02 {
    position: absolute;
    left: 10%;
    right: 50%;
    top: 70%;
    bottom: 28%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFF2F2;
}

.text-selection-03 {
    position: absolute;
    left: 15%;
    right: 13.65%;
    top: 70%;
    bottom: 28%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFF2F2;
}

.text-selection-04 {
    position: absolute;
    left: 2.5%;
    right: 72.5%;
    top: 90%;
    bottom: 8.1%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFF2F2;
}

.text-selection-05 {
    position: absolute;
    left: 10%;
    right: 42.12%;
    top: 90%;
    bottom: 6.71%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFF2F2;
}

.text-selection-06 {
    position: absolute;
    left: 0%;
    right: 6%;
    top: 90%;
    bottom: 6.71%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFF2F2;
}

.grid-item-01 {
    position: absolute;
    left: 10%;
    right: 100%;
    top: 60%;
    bottom: 33.33%;

    width: 20%;
    height: 25%;
}

.grid-item-02 {
    position: absolute;
    left: 40%;
    right: 120%;
    top: 60%;
    bottom: 33.12%;    
    
    width: 20%;
    height: 25%;
}

.grid-item-03 {
    position: absolute;
    left: 67.33%;
    right: 140%;
    top: 60%;
    bottom: 32.8%;

    width: 20%;
    height: 25%;
}

.grid-item-04 {
    position: absolute;
    left: 4.85%;
    right: 120%;
    top: 90%;
    bottom: 5%;

    width: 20%;
    height: 25%;
}

.grid-item-05 {
    position: absolute;
    left: 40.91%;
    right: 120%;
    top: 90%;
    bottom: 5%;
    width: 20%;
    height: 25%;

}

.grid-item-06 {
    position: absolute;
    left: 71.52%;
    right: 130%;
    top: 90%;
    bottom: 5%;

    width: 20%;
    height: 25%;
}


.logo-18 {
    position: absolute;
    left: 40%;
    right: 37.88%;
    top: 4%;
    bottom: 50%;

    height: 22%;
    width: 22%;
}

.text-span-18 {
    position: absolute;
    left: 10%;
    right: 5%;
    top: 25%;
    bottom: 80%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #FFFEFE;
}

*/
