h1 {
    
position: absolute;
width: 374.68px;
height: 35.43px;
top: 50%;
left: 10%;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #FFFEFE;
}