.acess {
  position: absolute;
  left: 20%;
  right: 50%;
  top: 50%;
  bottom: 30%;
  background: rgba(141, 210, 207, 0.56);
  border-radius: 30px;

  height: 10%;
  width: 40%;

}

.text-span {
  position: absolute;
  left: 30%;
  right: 18.72%;
  top: 67.72%;
  bottom: 28.74%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  color: #FFFEFE;
}

.text-acess {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 10%;
  bottom: 20%;

  color: #FFFEFE;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800px;
  font-size: 25px;
  line-height: 36px;
}

.logo {
  position: absolute;
  left: 5%;
  right: 10%;
  top: 5%;
  bottom: 36%;
}

.footer-wrapper {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 85%;
  bottom: 0%;

  background: #74B3B5;
}