.select-wrap-01{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFF2F2;
    border-radius: 35px;
}

.select-wrap-02{
    position: absolute;
    width: 452.73px;
    height: 123.69px;

    background: rgba(141, 210, 207, 0.56);
    border-radius: 35px;
}

.select-h1{
    position: absolute;
    left: 32.88%;
    right: 33.28%;
    top: 26.6%;
    bottom: 26.43%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #548B95;

}
.select-h2{
    position: absolute;
    width: 180.12px;
    height: 49.74px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #FFFEFE;
}

.select-p{
    position: absolute;
    width: 336px;
    height: 47px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #548B95;
}