.text {
    position: absolute;
    color: #FFFEFE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800px;
    font-size: 25px;
    line-height: 36px;
    top: -30%;
    left: 0%;
    text-align: center;
}

.group-18 {
    position: absolute;
    background: #ffffff;
    border-radius: 35px;
    height: 10%;
    width: 60%;
    top: 35%;
    bottom: 10%;
    left: 20%;
}
  
.text-group{
    position: absolute;
    width: 336px;
    height: 47px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    top: 10%;
    left: -10%;
    color: #548B95;
}