.logo {
    position: absolute;
    left: 2%;
    right: 37.88%;
    top: -2%;
    bottom: 86.58%;

    height: 30%;
    width: 20%;
}

.text-span {
    position: absolute;
    left: 0%;
    right: 12.17%;
    top: 30%;
    bottom: 79.2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #FFFEFE;

}