.wrapper-vacina-item {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 20px;
}

.logo {
    position: absolute;
    left: 8.87%;
    right: 74.63%;
    top: 4.15%;
    bottom: 74.95%;
}

.text-nome-vacina {
    position: absolute;
    left: 23.89%;
    right: 7.39%;
    top: 5.64%;
    bottom: 85.15%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #548B95;
}

.text-quant-doses {
    position: absolute;
    left: 8.87%;
    right: 22.41%;
    top: 27.86%;
    bottom: 65.17%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #548B95;
}

.text-infomacao {
    position: absolute;
    left: 9.11%;
    right: 22.17%;
    top: 42.26%;
    bottom: 48.52%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;

    color: #548B95;
}

.wrapper-quant-doses {
    position: absolute;
    left: 78.33%;
    right: 5.91%;
    top: 27.92%;
    bottom: 58.14%;

    background: rgba(116, 179, 181, 0.3);
    border-radius: 10px;
}

.wrapper-informacoes {
    position: absolute;
    left: 9.11%;
    right: 5.91%;
    top: 58.87%;
    bottom: 6.79%;
    
    background: rgba(116, 179, 181, 0.3);
    border-radius: 10px;
}