.footer-wrapper {
  width: 90%;
  height: 30%;
  
  background: #74B3B5;
  position: center;
  margin-top: 20%;
}
  
.footer-copy, .footer-link {
  width: 30%;
  height: 20%;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
    
  color: #FFFEFE;
  margin-top: 25%;
  margin-left: 10%;
  margin-bottom: 10%;
}