img {
  max-width: 100%;
  max-height: 100%;
}

.input-01 {
  position: absolute;
  background: #ffffff;
  
  border-radius: 35px;
  height: 16%;
  width: 60%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #548B95;
}

.group-05 {
  position: absolute;
  left: 20%;
  right: 0%;
  top: 40%;
  bottom: -2.51%;
}

.group-06 {
  position: absolute;
  left: 20%;
  right: 0%;
  top: 52%;
  bottom: -3.51%;
}

.group-07 {
  position: absolute;
  left: 20%;
  right: 0%;
  top: 62%;
  bottom: -4.51%;
}


.group-08 {
  position: absolute;
  background: #8DD2CF8F;
  border-radius: 35px;
  height: 55px;
  width: 350px;
  top: 72%;
  left: 20%;
  
  height: 8%;
  width: 50%;
}

.text-acess-01 {
  position: absolute;
  top: 35%;
  left: 20%;
  color: #FFFEFE;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 3px;
}