.block {
  margin-top: 60%;
  align-items: center;
  display: grid;
}

.group-05 {
  position: absolute;
  background: #FFF2F2;
  border-radius: 35px;
  height: 40px;
  width: 350px;
  top: 50%;
  margin-left: 20%;
}

.group-06 {
  position: absolute;
  background: #FFF2F2;
  border-radius: 35px;
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  top: 62%;
  margin-left: 20%;
}

.group-07 {
  position: absolute;
  background: #FFF2F2;
  border-radius: 35px;
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  top: 74%;
  margin-left: 20%;
}

.group-08 {
  position: absolute;
  background: #8DD2CF8F;
  border-radius: 35px;
  height: 55px;
  width: 350px;
  margin-bottom: 10px;
  top: 86%;
  margin-left: 20%;
}

.text-group{
  position: absolute;
  width: 336px;
  height: 47px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #548B95;
  margin-top: 2%;
}

.h2 {
  position: center;
  text-align: center;
  color: #FFFEFE;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800px;
  font-size: 15px;
  line-height: 36px;
  margin-top: 2%;
}