.logo {
  position: absolute;
  left: 40%;
  right: 31.52%;
  top: 20%;
  bottom: 64.57%;
  height: 10%;
  width: 10%;
}


img {
  max-width: 400%;
  max-height: 400%;
}

.text-span {
  position: absolute;
  left: 2%;
  right: 12.17%;
  top: 30%;
  bottom: 79.2%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 36px;
  text-align: center;

  color: #FFFEFE;

}

.block {
  margin-top: 60%;
  align-items: center;
  display: grid;
}

.input {
  position: absolute;
  background: #ffffff;
  border-radius: 35px;
  height: 10%;
  width: 50%;
}

.group-05 {
  position: absolute;
  left: 20%;
  right: 0%;
  top: 40%;
  bottom: -2.51%;
}

.group-06 {
  position: absolute;
  left: 20%;
  right: 0%;
  top: 52%;
  bottom: -2.51%;
}

.group-07 {
  position: absolute;
  left: 20%;
  right: 0%;
  top: 62%;
  bottom: -2.51%;
}


.group-08 {
  position: absolute;
  background: #8DD2CF8F;
  border-radius: 35px;
  height: 55px;
  width: 350px;
  top: 70%;
  left: 20%;
  
  height: 10%;
  width: 62%;
}

.text-group{
  position: absolute;
  width: 336px;
  height: 47px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #548B95;
  margin-top: 2%;
}

.h2 {
  position: center;
  text-align: center;
  color: #FFFEFE;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800px;
  font-size: 15px;
  line-height: 36px;
  margin-top: 2%;
}