.text {
    position: absolute;
    color: #FFFEFE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800px;
    font-size: 25px;
    line-height: 36px;
    margin-top: 60%;
    margin-left: 20%;
    text-align: center;
}
  
.text-group{
    position: absolute;
    width: 336px;
    height: 47px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
    color: #548B95;
}