.text-19 {
    position: absolute;
    color: #FFFEFE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800px;
    font-size: 25px;
    line-height: 36px;
    top: 30%;
    left: 0%;
    text-align: center;
}